@model ShareModel.ProductShare
@using Microsoft.AspNetCore.Http

<form method="post">
    <div class="p-5 border rounded">
        <div class="form-group row ">
            <div class="col-6" style="width:100%; text-align: center;">
                <img src="../img//@Model.Image" alt="New york" style="height:450px;">
            </div>
            <div class="col-6">

                <div class="product-name" style=" text-shadow: black 2px 3px 4px; color: #FFCC66;">
                    <h1>@Model.ProductName</h1>
                </div>
                <hr />
                <p>
                    <span class="item-title">ID:</span>
                    <span>
                        <strong>
                            @Model.ProductID
                        </strong>
                    </span>
                </p>
                <p>
                    <span class="item-title">Description: @Model.Description</span>
                </p>
                <p>
                    <span class="item-title">Category Name: @Model.CategoryName</span>
                </p>
                <div class="price-box">
                    <h3>@Model.Price.ToString().Insert(3, ".") VNĐ</h3>
                </div>
                <div class="form-group">
                    <input hidden asp-for="@Model.ProductID" />
                    <a asp-controller="Home" asp-action="Index" class="btn btn-success">Back</a>
                </div>
            </div>
        </div>
    </div>
</form>

@{ using (Html.BeginForm("Voting", "Rating"))
    {
        @Html.HiddenFor(x => x.ProductID)
        <span class="rate-area">
            <h5 class="rate">Rate Product</h5>
            <input type="submit" id="5-star" name="rating" value="5" />
            <label for="5-star" title="Amazing">5 stars</label>

            <input type="submit" id="4-star" name="rating" value="4" />
            <label for="4-star" title="Good">4 stars</label>

            <input type="submit" id="3-star" name="rating" value="3" />
            <label for="3-star" title="Average">3 stars</label>

            <input type="submit" id="2-star" name="rating" value="2" />
            <label for="2-star" title="Not Good">2 stars</label>

            <input type="submit" id="1-star" name="rating" value="1" />
            <label for="1-star" title="Bad">1 star</label>
        </span>

    }
}

